<h2>Welcome Teacher!!</h2>

<%= form_for :teacher, url: teachers_path do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.label :username %>:
  <%= f.text_field :username %><br />

  <%= f.label :password %>:
  <%= f.password_field :password %><br />

  <%= f.label :email %>:
  <%= f.password_field :email %><br />

  <%= f.submit %>
<% end %>
